body {
  margin: 0;
  padding: 0;
  background-color: #17A772;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  color: black;
  padding: 5px 5px 5px 5px;
  background-color: #eeeeee;
  border-radius: 5px;
  font-family: 'Concert One', sans-serif;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

h1 {
  font-family: "Concert One", sans-serif;
  text-align: center;
  color: white;
  margin-top: 80px;
  font-weight: 100;
  font-size: 40px;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #3bbba7, #74c97e);
}

#logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bungee Shade', sans-serif;
  letter-spacing: 3px;
  line-height: 60px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.group {
  width: 85%;
  height: auto;
  min-height: 300px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 10px;
  resize: vertical;
  overflow: auto;
}

.groupHeader {
  border: none;
  font-size: 36px;
  font-family: "Concert One", sans-serif;
  font-weight: 10;
  margin-left: 20px;
  margin-top: 10px;
  width: 85%;
  color: black;
  --color: black;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.editButton {
  display: block;
  height: 35px;
  margin-right: 10px;
  margin-top: 10px;
}

 .editMode .editButton {
  background-color: lightgray;
  border: 2px solid red;
}

::placeholder {
  color: lightgray;
}

#exPerson {
  display: none;
}

#group- {
  display: none;
}

.person {
  margin: 10px 20px 0px 20px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  height: 75px;
  white-space: nowrap;
  font-size: 20px;
  flex: 1 auto;
}

.name {
  border: none;
  font-size: 24px;
  font-family: 'Concert One', sans-serif;
  font-weight: 1;
  color: #17a772;
  --color: #17a772;
  width: 20%;
  margin-right: 10px;
  flex: 1 auto;
}

.timer {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #eeeeee;
  animation: none;
  text-align: center;
  font-family: 'Concert One', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color:rgba(0, 0, 0, 0); /*hidden*/
  transition: color 1s ease-out, box-shadow 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 5;
  flex: 1 auto;
}

.empty.timer {
  animation: pulse 2s infinite;
}

.showDate.timer {
  color: black;
  box-shadow: 0px 0px 0px 30px rgb(200, 200, 200, 0.9) inset;
}

.fillTank.timer {
  animation: fillTank 0.2s forwards;
}

.editMode .timer {
  color: black;
}

.date {
  font-family: 'Concert One', sans-serif;
  color: black;
}

.checkbox {
  -webkit-appearance: none;
  border: 1px solid black;
  box-shadow: 0px 0px 1px black inset;
  border-radius: 3px;
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #eeeeee;
  transition: background-color 0.2s ease-out;
}

.checkbox:hover {
  background-color: #cccccc;
  transition: background-color 0.2s ease-out;
}

.checkbox.checkAnimate {
  animation: checked 1s;
}

.days {
  width: 40px;
  height: auto;
  font-size: 24px;
  font-family: 'Concert One', sans-serif;
  font-weight: 100;
  padding: 0;
  border: none;
  text-align: right;
  margin-left: 10px;
  color: black;
  --color: black;
}

.daysText {
  display: block;
  margin-left: 5px;
  font-size: 24px;
  font-family: 'Concert One', sans-serif;
  font-weight: 100;
}

.editable:hover {
  text-shadow: 0px 0px 1px var(--color);
}

input {
  padding-left: 0px;
}

input:focus {
  outline: none;
}

.editMode .checkbox {
  -webkit-appearance: none;
  border: 2px solid red;
  border-radius: 3px;
}

.editMode .checkbox:hover {
  background-color: #F5B7B1;
}

.addButton {
  margin: 20px 0px 20px 20px;
}

.addGroupButton {
  display: block;
  height: 35px;
  float: right;
}

.bottomContainer {
  height: 40px;
  width: 85%;
  margin: 0px auto;
}

/***************************************
Transitions/Animations
***************************************/

#bkgFade {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0px;
  background-color: #17a772;
  animation: fadeOut 0.75s;
  animation-fill-mode: forwards;
}

#whiteBox {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: -100px;
  margin: auto;
  background-color: white;
  display: none;
  z-index: 2;
}

.grow#whiteBox {
  animation: grow 2s;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes grow {
  from {box-shadow: 0px 0px 0px 0px white;}
  to {box-shadow: 0px 0px 0px 2000px white;}
}

@keyframes fadeOut {
  from {opacity: 1; visibility: visible}
  to {opacity: 0; visibility: hidden;}
}

@keyframes pulse {
  0% {box-shadow: 0 0 0 0 rgba(23, 167, 114, 0.8);}
  70% {box-shadow: 0 0 0 5px rgba(23,167,114, 0);}
  100% {box-shadow: 0 0 0 0 rgba(23,167,114, 0);}
}

@keyframes checked {
  0% {box-shadow: 0px 0px 0px 0px #17A772 inset;}
  50% {box-shadow: 0px 0px 0px 10px #17A772 inset;}
  100% {box-shadow: 0px 0px 0px 0px #17A772 inset;}
}

@keyframes fadeDate {
  from {color:rgba(0, 0, 0, 0);}
  to {color: rgba(0, 0, 0, 1);}
}

@keyframes fillTank {
  /* to {background: linear-gradient(to right, #eeeeee 0%, #17a772 100%)} */
}

/***************************************
Desktop/Tablet Sizing
***************************************/

@media only screen and (min-width: 992px) {
  .group {
    width: 65%;
    min-width: 500px;
  }

  .bottomContainer {
    width: 65%;
    min-width: 500px;
  }

  h1 {
    font-family: "Concert One", sans-serif;
    text-align: center;
    color: white;
    margin-top: 100px;
    font-weight: 100;
    font-size: 56px;
  }

  .timer {
    width: 60%;
    order: 0;
  }

  .person {
    margin: 10px 20px 0px 20px;
    display: flex;
    align-items: center;
    height: 40px;
    white-space: nowrap;
    font-size: 20px;
    flex-flow: nowrap;
  }
}
