/*style.css
mthofstadter.github.io/nolvide
*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #3bbba7, #74c97e);
}


ul {
  padding: 0;
  margin-top: -10px;
  list-style-type: none;
}

#logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Bungee Shade', sans-serif;
  letter-spacing: 3px;
}

@media only screen and (max-width: 600px) {
  #logo {
    margin-top: 15px;
  }
  body {
    background-color: lightgray;
  }
}

main {
  margin-top: 100px;
}

a {
  text-decoration: none;
  display: block;
  margin: 0px 12.5px 0px 12.5px;

}

#boxTopContainer {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

#boxBottomContainer {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.rememoryBox {
  width: 300px;
  height: 275px; /*originally 300px*/
  padding-top: 75px;
  border-radius: 10px;
  position: relative;
  transition: all 0.2s ease-out;
}

.rememoryBox:hover {
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s ease-out;
}

#remindersBox {
  background-color: deepskyblue;
  --bkg: deepskyblue;
  animation: flyRight 1.5s;
  animation-fill-mode: forwards;
}

#peopleBox {
  background-color: darkturquoise;
  --bkg: darkturquoise;
  animation: flyDown 1.5s;
  animation-fill-mode: forwards;
}

#tasksBox {
  background-color: royalblue;
  --bkg: royalblue;
  animation: flyLeft 1.5s;
  animation-fill-mode: forwards;
}

#journalBox {
  background-color: #76DA86;
  --bkg: #76DA86;
  animation: flyRight 1.5s;
  animation-fill-mode: forwards;
}

#betsBox {
  background-color: #58c292;
  --bkg: #58c292;
  animation: flyUp 1.5s;
  animation-fill-mode: forwards;
}

#correspondBox {
  background-color: #17a772;
  --bkg: #17a772;
  animation: flyLeft 1.5s;
  animation-fill-mode: forwards;
}


.grow#remindersBox {
  z-index: 2;
  animation: grow 2s;
  animation-fill-mode: forwards;
}

.grow#peopleBox {
  z-index: 2;
  animation: grow 2s;
  animation-fill-mode: forwards;
}

.grow#tasksBox{
  z-index: 2;
  animation: grow 2s;
  animation-fill-mode: forwards;
}

.grow#journalBox {
  z-index: 2;
  animation: grow 2s;
  animation-fill-mode: forwards;
}

.grow#betsBox {
  z-index: 2;
  animation: grow 2s;
  animation-fill-mode: forwards;
  animation-play-state: running !important;
}

.grow#correspondBox {
  z-index: 2;
  animation: grow 2s;
  animation-fill-mode: forwards;
}

.grow h6, .grow p {
  opacity: 0; /*fades out*/
}

h6 {
  color: white;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Concert One', sans-serif;
  font-weight: 100;
  transition: all 0.2s ease-out;
}

.rememoryBox:hover h6 {
  text-shadow: 0px 0px 5px black;
  transition: all 0.2s ease-out;
}

p {
  color: rgba(255,255,255,0);
  font-size: 24px;
  font-family: 'Heebo', sans-serif;
  margin: 0;
  text-align: center;
  transition: all 0.2s ease-out;
}

.rememoryBox:hover p {
  color: white;
  transition: all 0.2s ease-out;
}

@keyframes flyDown {
  from {top: -450px}
  to {top: 0px;}
}

@keyframes flyUp {
  from {bottom: -450px}
  to {bottom: 0px;}
}

@keyframes flyRight {
  from {left: -800px}
  to {left: 0px;}
}

@keyframes flyLeft {
  from {right: -800px}
  to {right: 0px;}
}

@keyframes leaveUp {
  from {top: 0px}
  to {top: -450px;}
}

@keyframes leaveDown {
  from {bottom: 0px}
  to {bottom: -3000px;}
}

@keyframes leaveLeft {
  from {left: 0px}
  to {left: -800px;}
}

@keyframes leaveRight {
  from {right: 0px}
  to {right: -800px;}
}

@keyframes grow {
  from {box-shadow: 0px 0px 0px 0px var(--bkg);}
  to {box-shadow: 0px 0px 0px 1500px var(--bkg);}
}
